<div class="mobile-arrows">
	<div class="prev">
		<a href="{{ prevProject | prepend: PROJECT_URL }}">&larr;</a>
	</div>
	<div class="next">
		<a href="{{ nextProject | prepend: PROJECT_URL }}">&rarr;</a>
	</div>
</div>