<div class="placeholder">
	{{ BRAND_FNAME | truncate: 1, '' }}<span class="v-hidden">{{ BRAND_FNAME | slice: 1, BRAND_FNAME.size }}</span>,
	{{ BRAND_SNAME | truncate: 1, '' }}<span class="v-hidden">{{ BRAND_SNAME | slice: 1, BRAND_SNAME.size }}</span>
</div>