<div id="cursor" class="cursor">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.13 117.14">
		<path d="M58.56,117.14a58.57,58.57,0,1,1,58.57-58.57,58.57,58.57,0,0,1-58.57,58.57m0-112.34a53.77,53.77,0,1,0,53.77,53.77h0A53.83,53.83,0,0,0,58.56,4.8" />
		<polygon points="55.7 86.85 55.7 61.43 30.28 61.43 30.28 55.7 55.7 55.7 55.7 30.29 61.43 30.29 61.43 55.7 86.84 55.7 86.84 61.43 61.43 61.43 61.43 86.85 55.7 86.85" />
	</svg>
</div>